.blog-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1em;
  color: #2b2b2b;
}

.blog-subtitle {
  color: #757575;
}

.back-btn {
  position: fixed;
  top: 5%;
  left: 4%;
  padding: 0.25em 1em;
  color: #ffffff;
  background-color: #00BFB2;
}

.back-btn:hover {
  background-color: #484848;
  color: #ffffff;
  text-decoration: none;
}

@media(max-width: 767px) {
  .back-btn {
    position: fixed;
    top: 2.5%;
    left: 0%;
    padding: 0.1em 0.5em;
  }
}

.blog-body {
  font-family: "Lora", serif;
  font-size: 16px;
  max-width: 90ch;
  overflow: hidden;
}

.subheader {
  font-weight: 600;
}

.frontend {
  margin-top: 2.5em;
}

.scrnshot {
  width: 75%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.reflection {
  font-weight: 600;
  font-size: 15px;
}

.blog-ender {
  font-family: "Lora", serif;
  font-size: 16px;
  max-width: 90ch;
  overflow: hidden;
  padding-bottom: 10em;
}
