.blog-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1em;
  color: #2b2b2b;
}

.blog-subtitle {
  color: #757575;
  font-size: 18px;
}

.back-btn {
  position: fixed;
  top: 5%;
  left: 4%;
  padding: 7.5px 25px;
  color: #ffffff;
  background-color: #00BFB2;
  font-size: 1.25em;
}

.back-btn:hover {
  background-color: #484848;
  color: #ffffff;
  text-decoration: none;
}

.blog-body {
  font-family: "Lora", serif;
  font-size: 18px;
  max-width: 90ch;
  overflow: hidden;
}

.subheader {
  font-weight: 600;
  margin-top: 1.25em;
}

.scrnshot {
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.scrnshot-mob {
  width: 35%;
  margin: 5% 25%;
}

@media(max-width: 767px) {
  .back-btn {
    position: fixed;
    top: 2.5%;
    left: 0%;
    z-index: 100;
  }
  .scrnshot {
    width: 100%;
  }

  .scrnshot-mob {
    width: 100%;
  }
}

.reflection {
  font-weight: 600;
  font-size: 15px;
}

.blog-ender {
  font-family: "Lora", serif;
  font-size: 18px;
  max-width: 90ch;
  overflow: hidden;
  padding-bottom: 10em;
}

.gal {
  margin-top: 7.5em;
  margin-right: 5em;
  margin-left: 10em;
}

.col-12 {
  width: fit-content !important;
  overflow-x: hidden;
}

.row {
  margin: 0;
}

.img-fluid {
  margin-top: 2.5em;
}

@media(max-width: 767px) {
  .thumbnail {
    width: 375px;
  }

  .gal-row {
    margin: 0;
  }
}
