.footer {
  background-color: #ffffff;
  margin-top: 10em;
  padding-bottom: 1.5em;
  padding-right: 4em;
  margin-right: 1em;
}

.social-icons {
  color: #484848;
  margin-left: 2em;
}

.social-icons:hover {
  color: #00BFB2;
}

.landing-footer {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.contact-footer {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

@media(max-width: 767px){
  .footer {
    margin-top: 1em;
    padding: 0;
  }

  .col-12 {
    padding: 0;
  }

  .contact-footer {
    position: relative;
  }
}

.contact-link {
  color: #484848;
}

.contact-link:hover {
  color: #00BFB2;
  text-decoration: none;
}
