body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 0 3.05rem;
}

.font-bitter-landing {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  padding: 10px;
  margin-left: 2em;
}

.font-link {
  color: #373737;
  text-decoration: underline;
  margin-right: 5em;
  font-size: 1.25em;
}

.font-white {
  color: #ffffff;
  float: right;
  padding-right: 2.5em;
  margin-top: 10em;
}

.font-link:hover {
  color: #00BFB2;
}

.landing-vertical-margin {
  margin-top: 12.5em;
}

.font-lora {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 60px;
  padding: 0;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 30px;
  padding: 0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

p {
  max-width: 90ch;
  overflow: hidden;
}

a {
  transition: 0.2s;
}

.subtitle {
  padding-left: 0.25em;
}

.proj-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #fff !important;
  text-align: center;
  height: 75px;
  width: 350px;
  background-color: #00BFB2;
  padding: 1% 5%;
  transition: 0.2s;
}

.proj-btn:hover {
  text-decoration: none;
  background-color: #373737;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* > .hover-show,
*:hover > .hover-hidden {
  display: none;
}

*:hover > .hover-show {
  display: inline-block;
}

.margin-vertical-lg {
  margin-top: 5.5em;
}

.margin-vertical-sm {
  margin-top: 0.75em;
}

.margin-vertical-md {
  margin-top: 3em;
}

.margin-vertical-xl {
  margin-top: 8.5em;
}
